* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  background-color: rgb(22, 22, 22);
  color: #ffff;
  height: 800px;
  width: 1800px;
}
#main-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(128, 0, 128, 0.764),
    rgba(249, 100, 7, 0.798)
  );
  height: 740px;
  width: 360px;
  border: 5px solid black;
  border-radius: 40px;
}
#content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 50%;
  padding: 12px;
}
#previous-result {
  display: flex;
  color: rgb(133, 132, 132);
  font-size: 22px;
  font-weight: 600;
  justify-content: flex-end;
}
#result {
  display: flex;
  justify-content: flex-end;
  font-size: 60px;
}
#text-content {
  display: flex;
  font-size: 25px;
  border-bottom: 2px solid rgba(79, 79, 79, 0.484);
}
#button-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
  padding: 10px;
}
#button-container > button {
  flex: 1 1 25%;
  background-color: transparent;
  border: none;
}
#button-container > #equal {
  flex: 2 1 25%;
}
